body {
    font-family: 'Courier New', Courier, monospace;
    color: #334206;
    background-color: #F2E8DF;
    padding: 20px;
    
}

h1, h2, h3, h4, h5, h6 {
    color: #334206;
}

p, span, div {
    color: #334206;
}

a {
    color: #687c04;
    text-decoration: none;
}

a:hover {
    color: rgb(142, 170, 63);
}

/* gallery.php css*/

.gallery-container {
    display: flex;
    justify-content: center;
    padding: 30px;

}

.gallery-controls {
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 15px;
}

#prev, #next, #login-button, #register-button {
    background-color: #415111;
    color: #FEFEFE;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    transition: transform 0.2s;
}

#prev:hover, #next:hover, #login-button:hover, #register-button:hover {
    transform: scale(1.1);
}

/* user.php css*/

.user-info {
    background-color: #FEFEFE;
    padding: 20px;
    width: 25%;
}

/* registration.php and login.php css */

.registration {
    text-align: center;
    padding: 20px;
}

.login {
    text-align: center;
    padding: 20px;
}

.registration input,
.login input {
    width: 20%;
    padding: 5px;
    margin-bottom: 10px;
    font-family: "Courier New", monospace;
}


/* navbar.php css */
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.top-nav a {
    margin-left: 10px;
    padding: 8px 15px;
    background-color: #415111;
    color: #FEFEFE;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.2s;
}

.top-nav a:hover {
    background-color: #687e25;
}

/* flower.php css */

.flower-container {
    text-align: center;
    padding: 20px;
}

.comment-submit form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 35%;
}

#buy-button, #comment-button {
    background-color: #415111;
    color: #FEFEFE;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

#comment-button {
    width: 20%;
    align-self: center;
}

/* index.php css */

.search-sort-form {
    display: flex;
    padding: 15px;
    flex-direction: row;
    align-items: center;
    gap: 15px; /* Adds space between the input fields and the button */
    margin-bottom: 20px; /* Adds space between form and flower cards */
    text-align: center;
}

.search-sort-form input,
.search-sort-form select,
.search-sort-form button {
    margin-left: 10px;
    padding: 8px 15px;
    background-color: #5d7025;
    color: #FEFEFE;
    border-radius: 5px;
    font-size: 13px;
}

.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 20px; /* Space between grid items */
    padding: 20px; /* Optional: Add some padding around the grid */
}

.flower-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    background-color: #f9f9f9;
}

.flower-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

